<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <script type="text/javascript" src="scripts/search.js"></script>
  </head>
  <body>
    <h4>search</h4>
    <input type="text" id="search_bar">
    <button id="search_button" type="button">Search Something</button>
    <div class="results">
    </div>
  </body>
</html>

<!-- AIzaSyAyNVxBsoDzyaxEz_MxwWdlrCibyvJQeqE -->
<!-- 001894765995837114362:kvwwenzmdci -->

